* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Cairoregular';
}

@font-face {
    font-family: 'Cairo';
    src: url(fonts/Cairo-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairoregular';
    src: url(fonts/Cairo-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    overflow-x: hidden;
    width: 100vw;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #0b0b0b;
    height: 100vh;
    z-index: 1;
}

header span {
    border-bottom: 0.3rem solid black;
}

header {
    height: 8vh;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 200;
    background-color: white;
    border: none;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

header h2 {
    color: black;
    font-weight: 1200;
    text-transform: uppercase;
    border-bottom: 0.3rem solid black;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header select {
    background-color: transparent;
    border-radius: 3rem;
    width: 28%;
    height: 5vh;
    color: black;
    padding-right: 1rem;
    outline: none;
    padding-left: 1rem;
    border: 3px solid black;
}

header option {
    color: black;
}

.title {
    direction: rtl;
    color: white;
    font-size: 2.5rem;
    z-index: 99;
    text-align: center;
    max-width: 80%;
    font-weight: 750;
    font-family: 'Cairo';
    margin:auto;
    margin-bottom: 1.5rem;
}

.buttonone {
    background-color: transparent;
    border-radius: 3rem;
    text-align: center;
    border: 5px solid white;
    color: white;
    direction: rtl;
    width: 50%;
    transition: 0.3s;
    height: 80px;
    font-size: 1.4rem;
    margin: auto;
}

.buttonone:hover {
    background-color: white;
    color: black;
}

.first {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* barmenu */

.barmenu {
    height: 100vh;
    width: 80%;
    position: fixed;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7)), rgba(255, 255, 255, 0.297);
    backdrop-filter: blur(1rem);
    top: 0;
    right: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 250;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.barmenu.active {
    transform: translateX(0);
}

#menu {
    width: 2rem;
    padding-top: 5px;
}

#close {
    width: 40px;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    margin: 1rem;
}

.barmenu .barmenuimg {
    width: 40%;
    height: 15%;
    border-radius: 10rem;
    border: 3px solid black;
    background-image: url(images/IMG-20260424-WA0002\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.barmenu p {
    color: black;
}

.barmenu div {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.barmenu div img {
    width: 40px;
}

/* end bar menu */


.titletwo {
    direction: rtl;
    color: white;
    width: 90%;
    margin: 4rem auto 0 auto;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 5px solid white;
}

.pnumberone {
    color: white;
    direction: rtl;
    padding-top: 1rem;
    width: 85%;
    margin: auto;
}

.firstdiv {
    background-image: url(images/c550c8a96885603da485bcb638d921e1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    top: 0;
}

.background {

    height: 8vh;

}

.cards {
    height: 50%;
    width: 95%;
    margin: 0rem auto 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    align-content: center;




}

.cards div {
    width: 100%;
    margin: auto;
    border: none;
    height: 220px;
    background-color: white;
    transition: 0.3s;
}

.buynow {
    height: 60px;
    width: 80%;
    display: block;
    margin: 3rem auto 0 auto;
    font-size: 1.4rem;
    border-radius: 3rem;
    transition: 0.3s;
    border: none;
}

#buynowdiv {
    position: absolute;
    width: 80%;
    height: 250px;
    top: 25%;
    left: 10%;
    border-radius: 0.3rem;
    z-index: 400;
    color: black;
    border: none;
    display: none;
    right: 10%;
    background-color: white;
}
#buynowdiv img {
    width: 2rem;
    transform: rotate(45deg);
    position: absolute;
    right: 2%;
    top: 2%;
}

#buynowdiv p {
    margin: 1rem;
    color: black;
}

#buynowdiv a {
    text-decoration: underline;
}

.buynow:hover {
    background-color: rgb(165, 0, 0);
    color: white;
}

.cardsone {
    background-image: url(images/OIP\ \(1\).webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardstwo {
    background-image: url(images/OIP\ \(2\).webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardsthree {
    background-image: url(images/OIP.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardsfour {
    background-image: url(images/bookfour.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgdiv {
    height: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 1rem auto 0 auto;
}

.imgdivone {
    width: 40%;
    border: 3px white solid;
    height: 100%;
    background-color: black;
    background-image: url(images/IMG-20260424-WA0002\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.imgdivone h3 {
    margin-left: -3rem;
}

.imgdivtwo h3 {
    color: white;
    padding: 5px;
    direction: rtl;

}

.imgdivtwo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.imgdivtwo p {
    color: white;
    margin-top: 1rem;
    direction: rtl;
    width: 70%;
}

.imgdivtwo h3 {
    background-color: rgb(165, 0, 0);
    padding: 15px;
    margin-right: -0.6rem;
}

.imgdivtwosecond {
    border: 3px solid white;
    width: 40%;
    height: 100%;
    background-color: black;
    background-image: url(images/IMG-20260424-WA0006.jpg);
    background-position: center;
    background-size: cover;
}

.imgdivtwoh3 {
    background-color: rgb(165, 0, 0);
    padding: 5px;
    margin-right: 1rem;
}

.social h2 {
    width: 80%;
    color: white;
    text-align: center;
    margin: 5rem auto 0 auto;

}

.social span {
    color: rgb(165, 0, 0);
}


.social p {
    color: white;
    margin: auto;
    text-align: center;
    width: 70%;
    direction: rtl;
}

.socialicon img {
    width: 40px;

}

.socialicon {
    display: flex;
    height: 400px;
    color: white;
    margin: 2rem auto 0 auto;
    align-items: center;
    width: 95%;
    background: #000000;
    backdrop-filter: blur(2rem);
    border-radius: 0.3rem;
    padding: 5px;
    justify-content: space-between;
    flex-direction: column;
}

.socialicon div {
    width: 100%;
    height: 25%;
}

.iconinside {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.iconinside h3 {
    color: white;
}

.iconinside img {
    width: 40px;
}

.iconinside a {
    height: 60%;
    width: 40%;
}

.iconinside button {
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 1rem;
    transition: 0.3s;
    border: none;
}

.iconinside button:hover {
    background-color: rgb(165, 0, 0);
    color: white;
}

.snapchat {
    background-color: white;
    color: black;
}

.instagram {
    background-color: white;
}

.whatsapp {
    background-color: white;
}

.youtube {
    background-color: white;
}

/* footer */
footer {
    margin-top: 3rem;
    height: 250px;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    color: black;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer span {
    border-bottom: 0.3rem solid black;
}

footer h3 {
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
    direction: rtl;
}

footer p {
    color: black;
    margin: 1rem;
    direction: rtl;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100px;
}

footer div button {
    width: 100%;
    background-color: transparent;
    border: solid 3px black;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.1rem;
    transition: 0.3s;
    height: 100%;
}

footer div a {
    width: 100%;
    height: 50%;
    color: black;
}

footer div button:hover {
    background-color: black;
    color: white;
}

p {
    color: white;
}

.about {
    width: 80%;
    margin: 3rem auto 3rem auto;
    direction: rtl;
}